/Affinity.d
/Affinity.o
/BruteForceTeamPossibilities
/PreferredMeetingTimes.d
/PreferredMeetingTimes.o
/Project.d
/Project.o
/ProjectGroup.d
/ProjectGroup.o
/Skills.d
/Skills.o
/Student.d
/Student.o
/Team.d
/Team.o
/bruteteams.d
/bruteteams.o
/makefile
/objects.mk
/sources.mk
/subdir.mk
